[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Jaeyeong Huh (jay-huh)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jaeyeong Huh (jay-huh)
	label-Verified = -1..+1 group user/Jaeyeong Huh (jay-huh)
	push = group user/Jaeyeong Huh (jay-huh)
	read = group user/Jaeyeong Huh (jay-huh)
	rebase = group user/Jaeyeong Huh (jay-huh)
	removeReviewer = group user/Jaeyeong Huh (jay-huh)
	submit = group user/Jaeyeong Huh (jay-huh)
[access "refs/heads/*"]
	create = group user/Jaeyeong Huh (jay-huh)
	push = +force group user/Jaeyeong Huh (jay-huh)
	pushMerge = group user/Jaeyeong Huh (jay-huh)
	read = group user/Jaeyeong Huh (jay-huh)
[access "refs/tags/*"]
	push = group user/Jaeyeong Huh (jay-huh)
	push = +force group user/Jaeyeong Huh (jay-huh)
	push = group user/Jaeyeong Huh (jay-huh)
[receive]
[access "refs/publish/*"]
	label-Verified = -1..+1 group user/Jaeyeong Huh (jay-huh)
	label-Verified = -1..+1 group user/Jaeyeong Huh (jay-huh)
	push = group user/Jaeyeong Huh (jay-huh)
	push = group user/Jaeyeong Huh (jay-huh)
